<h2><%= @post.title %></h2>

<div class="post-buttons">
  <a href="/posts/<%= @post.id %>/edit">Edit</a>
</div>

<div class="post-tags">
  <ul>
    <% @post.tags.each do |tag| %>
      <li><a href="/posts?tag=<%= tag.id %>"><%= tag.title %></a></li>
    <% end %>
  </ul>
</div>

<div class="post-body">
  <p><%= @post.body %></p>
</div>

